body {
    background: #ffffff;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

body, form, div, p, a, img, h1, h2, h3, h4, h5, h6, table, table tr, table td {
    border: none;
    color: #000000;
    font-family: 'Raleway', sans-serif;
    /* font-family: 'Pacifico', cursive; */
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

input,
textarea,
select {
    outline: none;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    box-sizing: border-box;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

a {
    text-decoration: underline;
    outline: none;
}

a:hover {
    text-decoration: none;
}

/* home */
.page__home {
    position: relative;
    background-color: #f9f8fb;  
}
.page__line {
    max-width: 1900px;
    margin: 0 auto;;
}
.page__home_bg {
    background-image: url(../images/top.jpg);
    min-height: 1000px;
}
.page__mainer {
    max-width: 1200px;
    padding: 0 15px;
    box-sizing: border-box;
    margin: 0 auto;
}
.home__header {
    display: flex;
    height: 147px;
    align-items: center;
    justify-content: space-between;
}
.link {
    text-decoration: none;
}
.logo__link {
    font-family: 'Pacifico', cursive;
    color: #262626;
    font-size: 50px;
}
.menu {
    display: table;
    margin: 0 -15px;
    padding: 0 15px;
    list-style-type: none;
    width: 570px;
}
.menu__block {
    display: table-cell;
    text-align: center;
}
.menu_link {
    font-size: 16px;
    font-weight: 700;
    color: #262626;
    text-transform: uppercase;
}
.menu_link:hover {
    text-decoration: overline;
    text-decoration-color: #ff6033;
}
.home__article {
    position: absolute;
    top: 30%;
}
.article {
    width: 400px;
    padding: 0 15px;
    box-sizing: border-box;
}
.article__caption {
    font-size: 60px;
    font-weight: 900;
    text-transform: capitalize;
    color: #262626;
    margin: 0 0 30px 0;
}
.article__text {
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
    color: #262626;
    margin: 0 0 30px 0;
}
.article__button {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #ff6033;
    width: 200px;
    height: 55px;
    border: none;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.5);
}
.article__button:active {
    color: #ff6033;
    background-color: #fff;
    border: 2px solid #ff6033;
    box-sizing: border-box;
}
.home__nav {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin: 0 0 65px 0;
    transform: translate(-50%, -50%);
}
/* about */
.page__about {
    position: relative;
    background-color: #00b0b0;  
}
.page__about_bg {
    min-height: 700px;
}
.page__row {
    display: flex;
    padding: 70px 0;
    margin: 0 -15px;
}
.row__cell {
    width: 600px;
    padding: 0 15px;
    box-sizing: border-box;
}
.about-product {
    margin: 0 -15px;
}
.about-product__img {
    width: 100%;
}
.about-text {
    padding:  100px 15px 25px 70px;
    margin: 0 -15px 0 0;    
}
.about-text__caption {
    font-size: 90px;
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;
}
.about-text__description {
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
    color: #fff;
    margin: 0 0 25px 0;
}